@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pixel';
  src: url('/pixel2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input {
  background:#fff !important;
}

:root {
  font-family: "ark", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.animate-gradient-1 {
  animation: animate-gradient-2 4s infinite;
}

.animate-gradient-2 {
  animation: animate-gradient-1 4s 1;
}

@keyframes animate-gradient-1 {

  0%,
  to {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animate-gradient-2 {

  0%,
  16.667%,
  to {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}